// _company.scss

.company {

    .team-wrapper {
        display: flex;
        width: 100%;
        max-width: 94rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 5.5rem 0 0;
    }

    .sub-section {

        .image {
            height: 40rem;
        }

        .meta {
            margin-top: -0.2rem;
            min-height: 11rem;
            height: initial;

            h3 {
                line-height: 1;
                min-height: 6rem;
                width: calc(100% - 2.2rem);
            }
        }
    }
}
