// _home.scss

.home {

    .fold {
        // height: calc(100vh - 12rem);
        // overflow: scroll;
    }

    .slider {
        background: $greyEC;
    }

    .home-nav {

        .row {

            @media only screen and (max-width: $phone) {
                flex-direction: column;
                padding: 3rem 2rem;
            }

            .col {
                width: 100%;
                margin: 7rem 5rem;
                text-align: center;
                border: 0.2rem solid $purple;
                padding: 6.5rem 9rem 8.5rem;
                position: relative;
                color: $purple;
                transition: none;

                @media only screen and (max-width: $phone) {
                    padding: 4rem 4rem;
                    margin: 4rem auto 4rem;
                }

                .icon {
                    position: absolute;
                    top: -1.3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 4.8rem + 3.2rem;
                    padding: 0 1.6rem;
                    background: $white;
                    z-index: 2;

                    img {

                    }
                }

                .copy {

                    .title {
                        @include gotham-medium();
                        font-size: 2.1rem;
                        letter-spacing: -0.67px;
                    }

                    p {

                    }
                }

                & + .col {

                    .icon {
                        width: 4rem + 3.2rem;
                        top: -2.5rem;
                    }
                }

                &:hover {
                    color: $white;
                    background: $purple;

                    .icon {
                        background: transparent;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $tablet) {

        .home-nav {

            .row {

                .col {
                    margin: 7rem 2rem;
                    padding: 6.5rem 4rem 8.5rem
                }
            }
        }
    }

    @media only screen and (max-width: $phone) {

        .home-nav {

            .row {
                flex-direction: column;
                padding: 3rem 2rem;

                .col {
                    padding: 4rem 4rem;
                    margin: 4rem auto 4rem;
                }
            }
        }
    }
}

// Slider overrides
.bx-wrapper {
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: initial;

    .bx-pager {
        bottom: 2rem;
        padding: 0;

        &.bx-default-pager {

            a, a:hover, a:active, a:visited, a:link {
                background: $grey62;

                &.active {
                    background: $blue;
                }
            }
        }
    }
}
