// _login-content.scss

.login-content {
    // background: $purple;
    color: $white;
    width: 100%;
    position: relative;
    //
    background: url(../images/xcore-bg.png) no-repeat $purple;
    background-size: contain;
    background-position: 101% 0%;
    background-attachment: fixed;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        width: 200vw;
        height: 100%;
        background: $purple;
        z-index: -1;
    }

    .login-content-wrapper {
        width: 100%;
        min-height: calc(100vh - 25rem);
        max-width: 112rem;
        margin: 0 auto;
        padding: 7rem 2rem;
    }

    .title {
        border-bottom: 0.1rem solid $white;
        margin: 0 0 2rem;
    }

    .subtitle {
        margin: 0 0 4rem;
    }

    .login-message {

        a, a:hover, a:active, a:visited, a:link {
            color: $blue;
            border-bottom: 0.1rem solid transparent;

            &:hover {
                border-bottom: 0.1rem solid $blue;
            }
        }
    }

    .file-wrapper {

        // Hide blocked content
        pre {
            display: none;

            & + h1 {
                display: none;
            }
        }

        h1 {

            a, a:hover, a:active, a:visited, a:link {
                display: block;
                color: $white;

                &:hover {

                }
            }

            @media only screen and (max-width: $tablet) {
                font-size: 3rem;
            }

            @media only screen and (max-width: $phone) {
                font-size: 2.4rem;
            }
        }
    }

    @media only screen and (max-width: $tablet) {
        background: url(../images/xcore-bg.png) no-repeat #404B97;
        background-size: cover;
        background-position: left 0%;
        background-attachment: fixed;
    }
}


