// _site-notes.scss

.site-notes {
    background: url('../images/xcore-bg.png') no-repeat $purple;
    background-size: contain;
    background-position: 101% 0%;
    background-attachment: fixed;
    color: $white;

    .site-notes-wrapper {
        padding: 5.5rem 2rem;
        width: $contentWidth;
        margin: 0 auto;

        h2 {
            margin: 0 0 1rem;
        }

        h3 {
            text-indent: 2rem;
        }

        ul {
            margin: 0 0 5rem;
        }

        li {
            font-weight: initial;
            @include gotham-book;
            font-size: 1.8rem;
            line-height: 1.222;
            letter-spacing: -0.57px;
        }
    }
}
