    <footer class="footer row">
        <div class="col vert">
            <img src="images/xcore-logo.svg">
            <span>
                ©2017 All Rights Reserved.
            </span>
        </div>
        <div class="col vert">
            <span>XCore Technologies</span>
            <span>1140 McDermott Drive Suite 103</span>
            <span>West Chester, PA 19380</span>
            <span>t: <a href="tel:16107314545">+1 (610)-731-4545</a></span>
            <span>e: <a href="mailto:info@x-coretechnologies.com">info@x-coretechnologies.com</a></span>
        </div>
    </footer>

{% if not is_dev %}
  <script src="js/app-built.js"></script>
{% else %}
  <script data-main="js/app" src="js/require.js"></script>
{% endif %}

    </body>
</html>
