<!-- Nav -->

<nav class="nav">
    <div class="logo">
        <a href="home">
            <img src="images/xcore-logo.svg">
        </a>

    </div>
    <div class="nav-links">
        <a href="#">Business Solutions</a>
        <a href="#">Services</a>
        <a href="#">Company</a>
        <a href="#">Contact</a>
        <a href="#">Login</a>
    </div>
    <div class="search-trigger">
        <img src="images/search.svg">
    </div>
</nav>
