<!-- Nav -->

<nav class="nav">
    <div class="logo">
        <a href="home">
            <img src="images/xcore-logo.svg">
        </a>

    </div>
    <div class="nav-links">
        <a href="business-solutions">Business Solutions</a>
        <a href="services">Services</a>
        <a href="company">Company</a>
        <a href="contact">Contact</a>
        <a href="login">Login</a>
    </div>
    <div class="search-trigger">
        <svg id="search" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 23.81 24">
          <defs>
            <mask id="mask" x="0" y="0" width="23.81" height="24" maskUnits="userSpaceOnUse">
              <g id="mask-2">
                <polygon id="path-1" class="cls-1" points="23.81 24 0 24 0 0 23.81 0 23.81 24"/>
              </g>
            </mask>
          </defs>
          <title>search</title>
          <g id="Symbols">
            <g id="Top-Nav">
              <g id="Page-1">
                <g class="cls-2">
                  <path id="Fill-1" class="cls-3" d="M2.85,9.73a6.88,6.88,0,1,1,6.88,6.88A6.88,6.88,0,0,1,2.85,9.73Zm21,11.92-6.2-6.2a9.73,9.73,0,1,0-2.39,2.32L21.46,24Z"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
    </div>
</nav>
