{% include "components/header.twig" %}

<div class="fold">
    <div class="slider">
        <img src="images/slider-fpo.png">
    </div>

    <div class="content">
        <div class="home-nav">
            <div class="row">
                <a href="business-solutions" class="col">
                    <div class="icon">
                        <img src="images/handshake.svg">
                    </div>
                    <div class="copy">
                        <div class="title">
                            Business Solutions
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor
                        </p>
                    </div>
                </a>
                <a href="services" class="col">
                    <div class="icon">
                        <img src="images/gears.svg">
                    </div>
                    <div class="copy">
                        <div class="title">
                            Services
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% include "components/footer.twig" %}
