<!-- Search -->

<section class="modal search">
    <div class="x-close">
        <svg id="x" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.26 59.78">
          <title>x</title>
          <g id="Homepage">
            <g id="Search-Lightbox-Copy">
              <polygon id="Page-1" class="cls-1" points="56.42 0 30.13 26.05 3.84 0 0 3.88 26.25 29.89 0 55.9 3.84 59.78 30.13 33.73 56.42 59.78 60.26 55.9 34.01 29.89 60.26 3.88 56.42 0"/>
            </g>
          </g>
        </svg>
    </div>
    <div class="content">
        <span class="search-input">
            <img src="images/search-white.svg">
            <input type="text" id="searchInput" placeholder="Search here">
        </span>

        <ul id="searchUl">
            <li><a href="healthcare">Healthcare</a></li>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">ipsum</a></li>
            <li><a href="#">dolor</a></li>
            <li><a href="#">sit</a></li>
            <li><a href="#">amet</a></li>
            <li><a href="#">consectetur</a></li>
            <li><a href="#">adipisicing</a></li>
        </ul>
    </div>
</section>
