
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a4fff28a8bff515fa7e66ffc5bc9a4b1
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress