
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=093368e42b23b11c68468f6984be8c1a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress