
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=f56c65fd87ee29b69b88ebd92077cd8b
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress